.logo {
    color: $dark-gray;
    font-size: 21px;

    &:hover, &:active {
        color: inherit;
        text-decoration: none;
    }
}

.create-dropdown {
    float: right;
    position: relative;
    z-index: 2;

    .create-button {
        .icon-dropdown {
            padding: 4px;
            position: relative;
            right: -4px;
            top: -3px;
        }
    }

    .create-items {
        background-color: $light-gray;
        border: 1px solid $gray;
        display: none;
        position: absolute;
        width: 100%;

        a {
            border-top: 1px solid $gray;
            color: $green;
            display: block;
            padding: 4px 8px;
            
            @include transition(all);
        }

        a:first-child {
            border-top: none;
        }

        a:hover {
            background-color: $green;
            color: $white;
            text-decoration: none;
        }
    }

    &:hover {
        .create-items {
            display: block;
        }
    }
}

.ticket-search, .client-search {
    float: left;
    margin-right: 24px;
    
    input, select, textarea {
        width: auto;
    }
}

.ticket-table {
    table-layout: fixed;

    td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .ticket-title, .ticket-description {
        width: 350px;
    }

    .ticket-category {
        width: 150px;
    }

    .ticket-status {
        width: 150px;
    }

    .ticket-client {
        width: 350px;
    }

    .ticket-employee {
        width: 350px;
    }

    .ticket-date {
        width: 110px;
    }

    .ticket-assign {
        width: 70px;
    }
}

.label-checkbox {
    display: inline-block;
    margin-right: 16px;
}