.logo {
    color: $dark-gray;
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;

    &:hover, &:active {
        color: inherit;
        text-decoration: none;
    }
}

.create-dropdown {
    float: right;
    position: relative;
    z-index: 2;

    .create-button {
        .icon-dropdown {
            padding: 0 4px;
            position: relative;
            right: -4px;
            top: -3px;
        }
    }

    .create-items {
        background-color: $white;
        border: 1px solid $light-gray;
        display: none;
        position: absolute;
        width: 100%;

        a {
            border-top: 1px solid $light-gray;
            color: $dark-gray;
            display: block;
            padding: 4px 8px;
            
            @include transition(all);
        }

        a:first-child {
            border-top: none;
        }

        a:hover {
            background-color: shade($light-gray, 0.5%);
            text-decoration: none;
        }
    }

    &:hover {
        .create-items {
            display: block;
        }
    }
}

.ticket-search, .client-search {
    float: left;
    margin-right: 24px;
    width: 100%;
    
    input, select, textarea {
        width: calc(100% - 70px);
    }
}

.card {
    background-color: $white;
    border: 1px solid $light-gray;
    margin-bottom: 8px;
    padding: 8px;
    width: 100%;

    .card-show-details {
        position: relative;
        height: 100%;
        width: 100%;

        &::before {
            content: '+';
            position: absolute;
            left: 25%;
            top: 25%;
        }

        &.active::before {
            content: '−';
        }
    }

    .card-title {
        display: block;
    }

    .card-status {
        background: $light-gray;
        border-radius: 2.5px;
        display: inline-block;
        font-size: 0.75em;
        padding: 2px 4px;

        &::after {
            content: '';
            display: block;
        }
    }

    .card-category {
        font-size: 0.75em;
        line-height: 1em;
    }

    .card-small-text {
        font-size: 0.75em;
    }

    .card-details {
        display: none;
    }

    .card-details.shown {
        display: block;
    }
}

.modal-body {
    button {
        margin-bottom: 12px;
    }
}

.label-checkbox {
    display: inline-block;
    margin-right: 16px;
}