main {
    margin-bottom: 24px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

button {
    border: none;
    border-radius: 2.5px;
    padding: 4px 8px;
}

table {
    border: 1px solid $gray;
    width: 100%;

    th, td {
        border: 1px solid $gray;
        padding: 4px 8px;
    }
}

// Headings

h1, h2, h3, h4, h5 {
    line-height: 1.5em;
    margin-top: .5em;
    margin-bottom: .25em;
}

a {
    color: $orange;
    text-decoration: underline;
    @include transition(all);

    &:hover {
        color: $amber;
    }
}

form {
    width: 100%;
}

label {
    display: block;
}

input, select, textarea {
    margin-bottom: 12px;
    padding: 3px 5px;
    width: 100%;
}