// Buttons

button {
    &.primary {
        background-color: $green;
        color: $white;

        @include transition(all);
    }

    &.primary:hover, &.primary:active {
        background-color: $dark-green;
    }

    &.default {
        background-color: $light-gray;
        border: 1px solid $gray;
    }

    &.default:hover, &.default:active {
        background-color: $gray;
    }
}

// Containers

.navigation-container, .search-container {
    border-bottom: 1px solid $gray;
    padding: 16px;

    @include clearfix;
}

// Headings

h1, h2, h3, h4, h5 {
    color: $teal;
}

