// Buttons

button {
    color: $dark-gray;
    
    @include transition(all);

    &.primary {
        background: verticalGradient(tint($gold, 40%), $gold);
        border: 1px solid shade($gold, 10%);
    }

    &.primary:hover, &.primary:active {
        background: verticalGradient($gold, $gold);
    }

    &.default {
        background: verticalGradient($white, $light-gray);
        border: 1px solid shade($light-gray, 10%);
    }

    &.default:hover, &.default:active {
        background: verticalGradient($light-gray, $light-gray);
    }

    &.text {
        background-color: transparent;
        font-weight: bold;
    }

    &.delete {
        background: verticalGradient(tint($amber, 40%), $amber);
        border: 1px solid shade($amber, 10%);
        color: $white;
        float: right;
    }

    &.delete:hover, &.delete:active {
        background: verticalGradient($amber, $amber);
    }
}

// Containers

.global-navigation {
    display: inline-block;
    margin: 0 48px;
    
    a {
        background-color: transparent;
        border-radius: 5px;
        color: $black;
        padding: 8px;
        text-decoration: none;
    }

    a:hover {
        background-color: $yellow;
    }
}

.navigation-container, .search-container {
    padding: 16px;
    @include clearfix;
}

.navigation-container {
    background-color: $light-gray;
}

// Headings

h1, h2, h3, h4, h5 {
    color: $orange;
}

