@mixin transition($property) {
    transition: $property 200ms ease;
}

@mixin clearfix() {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

@function verticalGradient($start, $end) {
    @return linear-gradient($start, $end);
}