<div class="container">
    <div class="row">
        {{#each businesstypes}}
        <div class="col-12">
            <div class="card search-result">
                <div class="row">
                    <div class="col-12">
                        <a class="card-title" href="/business-type_details/{{this.TypeID}}">{{this.Name}}</a>
                    </div>
                    <div class="col-12">
                        <span class="card-small-text">Created: {{this.CreatedDate}}</span>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>