<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>New Tickets</h2>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Client</th>
                        <th>Submitted</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>(Non-DB) Test Title</td>
                        <td>(Non-DB) Test Description</td>
                        <td>(Non-DB) Test Category</td>
                        <td>(Non-DB) Test Status</td>
                        <td>(Non-DB) Test Client</td>
                        <td>01/01/1970</td>
                        <td>
                            <button class="default">Assign</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-7">
            <h2>Tickets In-Progress</h2>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Client</th>
                        <th>Submitted</th>
                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>(Non-DB) Test Title</td>
                        <td>(Non-DB) Test Category</td>
                        <td>(Non-DB) Test Status</td>
                        <td>(Non-DB) Test Client</td>
                        <td>01/01/1970</td>
                        <td>01/01/1970</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xl-5">
            <h2>Closed Tickets</h2>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Client</th>
                        <th>Date Closed</th>
                        <th>Resolution</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>(Non-DB) Test Title</td>
                        <td>(Non-DB) Test Client</td>
                        <td>01/01/1970</td>
                        <td>(Non-DB) Test Resolution</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>