<div class="container-xl">
    <div class="row">
        <div class="col-12">
            <h2>Edit Ticket Information</h2>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Ticket Title">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="category">Category</label>
                        <select id="category" class="form-control">
                            <option selected>Test ticket</option>
                            <option>Order Issue</option>
                            <option>Request for New Services</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" rows="10">Add as much detailed information as possible.</textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="client">Client</label>
                        <select id="client" class="form-control">
                            <option selected>Steel Works Brewery</option>
                            <option>Bertie Botts Every Flavor Beer</option>
                            <option>Canvas Distributors</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="status">Status</label>
                        <select id="status" class="form-control">
                            <option selected>Unassigned</option>
                            <option>Assigned</option>
                            <option>Closed</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="row">
                            <div class="col align-items-center">
                                <label for="assignedEmployees">Assign an Employee</label>
                                <div class="form-group">
                                    <select id="assignedEmployees">
                                        <option value="default" selected>Employees</option>
                                        <option value="JohnDoe">John Doe</option>
                                        <option value="JaneDoe">Jane Doe</option>
                                    </select>
                                    <button type="submit" class="primary">Add Employee</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <table class="mx-auto" id="dataTable">
                            <tr class="text-center font-weight-bold">
                                <td colspan='5'>Assigned Employees</td>
                            </tr>
                            <tr id="headerRow">
                                <th style="display: none;">EmployeeName</th>
                                <th style="display: none;">Delete</th>
                            </tr>
                            <tr>
                                <td>John Doe</td>
                                <td><button class="btn btn-warning btn-sm">Delete</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="resolution">Resolution</label>
                        <textarea class="form-control" id="resolution" rows="10">Closing remarks on how the ticket was closed.</textarea>
                    </div>
                </div>
                <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="deleteEmployee" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                Confirm Deletion
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this record?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-danger btn-ok">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <button type="submit" class="primary">Save Changes</button>
                <button type="button" class="default">Discard Changes</button>
                <a href="#" data-toggle="modal" data-target="#confirm-delete">Delete</a>
            </form>
        </div>
    </div>
</div>